<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <meta name="descpription" content="<%= discription %>">
</head>
<body>
  <%= id %><br/>

</body>
</html>
